
        .kl{border-top: 4px double;
            margin-top: 40px;
            width: 100%;
        }
        .bear{background-color: rgb(238, 37, 37);
            font-size: 20px;
            color: white;
            border: 0;
        border-radius: 4px;
        height: 40px;
        width: 200px;
    }
        .of{ display: flex;flex-wrap: wrap;
            margin-left: 20px;
            margin-right: -30px;
            font-size: 20px;
          
        
        }
        .aanadh{
        
            margin-bottom: 1rem ;
        }
        .paul{
          flex-basis: 0;
    
    flex-grow: 1;
    max-width: 100%;
  
        }
       .col{
        padding: 1rem;
    
       }
       input{
        height: 25px;
        width: 340px;
        margin-top: 10px;
       
    }
    select{
         height: 35px;
        width: 340px;
        margin-top: 10px

    }
    .off{
  border-style: solid;
  border-width: 1px;
  padding: 15px 2px 0px 20px;
  width: 24%;
  margin-left: -20px;
}
button{
    background-color: rgb(15, 117, 250);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.head{
    background-color: rgb(255, 255, 255);
            font-size: 15px;
            color: white;
            border: 0;
        border-radius: 4px;
        height: 40px;
        width: 200px;

}
.ghj{
    margin-left: -40px;
}
.bnm{
    height: 20px;
    width:20px ;
    font-size: 10px;
    margin-left: 40px;
}
.fgh{
    margin-top: 15px;
}
    